body {
	background: #fbfbfb;
	color:#444;
}

h1 {
	margin: 2em 0 0 2em;
	font-family: arial, helvetica, sans-serif;
}
.wrapper {
	margin-left:30%;
}
.container {
	display:table-cell;
}

.highlight {
	color: brown;
}

.flip-clock-label {
	color: #fff;
}

